################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW2Solution/.vs/HW2Solution/v17/Browse.VC.db
