.vs/
x64/Debug/
x64/
Debug/
/DSHW2/DSHW2/x64/Debug/
/HW2Solution/.vs/HW2Solution/
/DSHW2/x64/Debug/DSHW2.log
/HW2Solution/.vs/HW2Solution/v17/DocumentLayout.backup.json
/HW2Solution/.vs/HW2Solution/v17/DocumentLayout.json
